.singleImg {
    width: 100%;
    border: 1px solid #ccc
}

.favBtn {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 10px;
    width: 50px;
}


@media (min-width:993px){
    .productCard {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 10px;
    }
    
    .singleImg {
        width: 500px;
        border: 1px solid #ccc;
    }
    
    .productDetails {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



